<p-menubar [model]="menuItems">
  <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [popup]="true" [model]="user"></p-menu>
  <span [ngSwitch]="!!userAvatar">
    <ng-container *ngSwitchCase="true">
      <p-avatar [image]="userAvatar" size="large" shape="circle" (click)="menu.toggle($event)"></p-avatar>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <p-avatar icon="pi pi-user" size="large" shape="circle" (click)="menu.toggle($event)"></p-avatar>
    </ng-container>
  </span>
</p-menubar>
