<div class="grid">
  <p-card class="item-form col-12">
    <form id="memorize-form" [formGroup]="itemForm" (ngSubmit)="editMode ? updateItem() : createItem()" class="grid jc-around">
      <span class="form-control p-float-label col-12 md:col-5 lg:col-5">
        <input class="item-form__value" type="text" pInputText formControlName="text">
        <label for="float-input">Text</label>
      </span>
      <span class="form-control p-float-label col-12 md:col-5 lg:col-5">
        <input class="item-form__description" type="text" pInputText formControlName="description">
        <label for="float-input">Description</label>
      </span>
      <div class="form-control col-12 md:col-2 lg:col-2">
        <button [ngClass]="editMode ? 'item-form__update' : 'item-form__save'" pButton type="submit" [label]="editMode ? 'Update' : 'Memorize'" icon="pi pi-check" iconPos="right"
          [disabled]="!itemForm.valid"></button>
        <button *ngIf="editMode" class="item-form__cancel" pButton icon="pi pi-times" iconPos="right"
          (click)="clearUpdatingForm()"></button>
      </div>
    </form>
  </p-card>
  <div class="card col-12">
    <p-dataView #dv *ngIf="memorizeItems.length > 0; else skeleton" [value]="memorizeItems" [paginator]="true" [rows]="9" filterBy="value"
         layout="grid" [alwaysShowPaginator]="false">
        <ng-template let-memorize pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="memorize-grid-item card">
                    <div class="memorize-grid-item-top">
                        <div>
                            <i class="pi pi-times item-icon" (click)="removeItem(memorize)"></i>
                        </div>
                        <div>
                            <i class="pi pi-pencil item-icon" (click)="editItem(memorize)"></i>
                        </div>
                    </div>
                    <div class="memorize-grid-item-content">
                        <div class="memorize-name">{{memorize.getText()}}</div>
                        <div class="memorize-description">{{memorize.getDescription()}}</div>
                        <p-progressBar [value]="memorize.getProgress()"></p-progressBar>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="top-right"></p-toast>

<ng-template #skeleton>
  <p-dataView #dv [value]="[0, 0, 0, 0, 0, 0, 0, 0, 0]" [paginator]="true" [rows]="9" filterBy="value"
    layout="grid" [alwaysShowPaginator]="false">
  <ng-template let-memorize pTemplate="gridItem">
      <div class="col-12 md:col-4">
          <div class="memorize-grid-item card">
              <div class="memorize-grid-item-top">
                  <div>
                      <i class="pi pi-times item-icon"></i>
                  </div>
                  <div>
                      <i class="pi pi-pencil item-icon"></i>
                  </div>
              </div>
              <div class="memorize-grid-item-content">
                <div class="memorize-name"><p-skeleton width="30%" height="2rem"></p-skeleton></div>
                <div class="memorize-description"><p-skeleton width="50%" height="2rem"></p-skeleton></div>
                <p-skeleton width="100%" height="2rem"></p-skeleton>
              </div>
          </div>
      </div>
  </ng-template>
  </p-dataView>
</ng-template>
