.new-item form {
  display: flex;
  justify-content: space-around;
  .new-item__value {
    width: 40vw;
  }
  .new-item__description {
    width: 40vw;
  }
  .new-item__save {
    width: 10vw;
  }
}
