.new-item form {
  .new-item__value,
  .new-item__description,
  .new-item__save {
    width: 100%;
  }
}

@media (max-width:960px) {
  .p-progressbar {
    width: 50vw;
  }
  .new-item form .form-control {
    margin-top: 15px;
  }
}
