.item-form form {
  .item-form__value,
  .item-form__description,
  .item-form__save {
    width: 100%;
  }
  .item-form__update {
    width: 80%;
  }
  .item-form__cancel {
    margin-left: 10%;
    width: 10%;
  }
}

@media (max-width:960px) {
  .p-progressbar {
    width: 50vw;
  }
  .item-form form .form-control {
    margin-top: 15px;
  }
}

:host ::ng-deep {
  .memorize-name {
      font-size: 1.5rem;
      font-weight: 700;
  }

  .memorize-description {
      margin: 0 0 1rem 0;
  }

  .memorize-grid-item {
      margin: .5em;
      border: 1px solid #dee2e6;

      .memorize-grid-item-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item-icon {
          vertical-align: middle;
          margin-right: .5rem;
        }
      }


      .memorize-grid-item-content {
          text-align: center;
      }
  }
}

.card {
  padding: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}
