<p-table [columns]="columns" [value]="rows" id="memorize-table">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" class="text-center">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-columns="columns">
      <tr>
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col.field === 'progress'" class="text-center">
              <p-progressBar [value]="row[col.field]"></p-progressBar>
            </td>
            <td *ngIf="col.field !== 'progress'" class="text-center">
              {{ row[col.field] }}
            </td>
          </ng-container>
      </tr>
  </ng-template>
</p-table>
